body {
    font-family: "Roboto", sans-serif;
    color: #545E6C;
    background: #ffffff;
    max-width: 1140;
    position: relative;
  }
  
  h1, h6 {
    font-weight: 700;
  }
  
  a {
    color: #ffff;
    text-decoration: none;
  }

  p {
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
    line-height: 2;
    margin: 0;
    padding: 0;
  }
  .test .test1 {
    color: #fff;
    display: flex;
    position: ;
    width: 30px;
  }
  .test {
    width: 50%;
    padding: 20px;
    margin-top: 500px;
    align-content: center;
  }
  
  .photo {
    display: flex;
    border-radius: 75px;
    right: 0;  }

  .test {
    background-color: #4B6A78;
    margin-left: 380px;
    display: block;
    position: absolute;
    width: 360px;
    height: 180px;
  }
  .contact {
    color: #fff;
    text-decoration: none;
  }
  
 .photo {
  display: flex;
  margin-top: 10px;
}
.tagline {
  font-size: 1.5em;
  font-style: italic;
}

.wrapper {
    display: flex;
    background: #4B6A78;
    max-width: 960px;
    margin: 0 auto;
    position: absolute;
  }
  .header {
    background-color:#4B6A78 ;
  }
  .sidebar-wrapper {
    display: block;
    background: #4B6A78;
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    padding-left: 50px;
  }
  .main-wrapper {
    background: #fff;
    padding: 60px;
    padding-right: 300px;
  }
  .main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2e4049;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
  }
  .main-wrapper {
    font-size: 14px;
    margin-top: 6px;
  }
  .main-wrapper .section {
    margin-bottom: 40px;
  }

  .main-wrapper .job-title {
    color: #3F4650;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }
  
 .company {
    margin-bottom: 10px;
    color: #97AAC3;
  }

  
  @media (max-width: 760px) {
    .sidebar-wrapper {
      position: static;
      width: inherit;
    }
  
    .main-wrapper {
      padding: 30px;
    }
  
    .main-wrapper {
      position: static;
      display: block;
      margin-top: 5px;
    }
  
    .main-wrapper {
      margin-bottom: 0;
    }
  }
